<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Material Dash</title>

  <!-- Layout styles -->
  <link rel="stylesheet" href="../assets/css/demo/style.css">
  <!-- End layout styles -->
</head>
<body>
<script src="../assets/js/preloader.js"></script>
<script src="https://raw.githubusercontent.com/bjornd/jvectormap/master/public/javascript/jquery-jvectormap-in-mill.js"></script>

  <!-- End plugin js for this page-->
  
  <!-- End custom js for this page-->
</body>
</html> 