<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Property</title>
    <link rel="stylesheet" href="../..//css/management.css">
    <style>
        .input-group {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="form">
        <h1>Add Property</h1>
        <form class="add" action="/admin/properties/add" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" class="input" name="name" required><br>

            <label>Locations:</label>
            <div id="location-container">
                <div class="input-group">
                    <input type="text" name="locations[]" class="input" required>
                    <button type="button" onclick="addLocationField()">+</button>
                </div>
            </div>

            <!-- <label for="type">Type:</label>
        <input type="text" class="select" id="type" name="type" required><br> -->

            <label for="type">Type:</label>
            <select class="select" id="type" name="type" required>
                <option value="" disabled selected>Select a type</option>
                <% propertyTypes.forEach(function(type) { %>
                    <option value="<%= type %>">
                        <%= type %>
                    </option>
                    <% }) %>
            </select><br>

            <label for="gender">Type:</label>
            <select class="select" id="gender" name="gender" required>
                <option value="" disabled selected>Select a type</option>
                <% propertyTypes.forEach(function(gender) { %>
                    <option value="<%= gender %>">
                        <%= gender %>
                    </option>
                    <% }) %>
            </select><br>

            <label for="map">Map:</label>
            <input type="text" id="map" class="input" name="map"><br>


            <label for="owner">owner</label>
            <input type="text" class="input" id="owner" name="owner" required><br>


            <label for="description">Description:</label>
            <textarea id="description" class="input" name="description" required></textarea><br>

            <!-- Image Inputs -->
            <label>Images:</label>
            <div id="image-container">
                <div class="input-group">
                    <input type="text" class="input" name="images[]" required>
                    <button type="button" onclick="addImageField()">+</button>
                </div>
            </div>

            <!-- Amenity Inputs -->
            <label>Amenities:</label>
            <div id="amenity-container">
                <div class="input-group">
                    <input type="text" class="input" name="amenities[]" required>
                    <button type="button" onclick="addAmenityField()">+</button>
                </div>
            </div>

            <!-- Room Inputs -->
            <label>Rooms:</label>
            <div id="room-container">
                <div class="input-group">
                    <input type="text" name="rooms[0][number]" placeholder="Room Number" required>
                    <input type="text" name="rooms[0][type]" placeholder="Room Type" required>
                    <input type="number" name="rooms[0][price]" placeholder="Price" required>
                    <input type="number" name="rooms[0][capacity]" placeholder="nober of room available" required>

                    <select name="rooms[0][available]" required>
                        <option value="true">Available</option>
                        <option value="false">Not Available</option>
                    </select>
                    <button type="button" onclick="addRoomField()">+</button>
                </div>
            </div>

            <button class="submit" type="submit">Add Property</button>
        </form>
    </div>

    <script>
        // Function to dynamically add image input fields
        function addLocationField() {
            const container = document.getElementById('location-container');
            const newLocationInput = document.createElement('div');
            newLocationInput.className = 'input-group';
            newLocationInput.innerHTML = '<input type="text" class="input" name="Location[]" required><button type="button" onclick="removeField(this)">-</button>';
            container.appendChild(newLocationInput);
        }



        // Function to dynamically add image input fields
        function addImageField() {
            const container = document.getElementById('image-container');
            const newImageInput = document.createElement('div');
            newImageInput.className = 'input-group';
            newImageInput.innerHTML = '<input type="text" class="input" name="images[]" required><button type="button" onclick="removeField(this)">-</button>';
            container.appendChild(newImageInput);
        }

        // Function to dynamically add amenity input fields
        function addAmenityField() {
            const container = document.getElementById('amenity-container');
            const newAmenityInput = document.createElement('div');
            newAmenityInput.className = 'input-group';
            newAmenityInput.innerHTML = '<input type="text" class="input" name="amenities[]" required><button type="button" onclick="removeField(this)">-</button>';
            container.appendChild(newAmenityInput);
        }

        // Function to dynamically add room input fields
        function addRoomField() {
            const container = document.getElementById('room-container');
            const roomCount = container.getElementsByClassName('input-group').length;
            const newRoomInput = document.createElement('div');
            newRoomInput.className = 'input-group';
            newRoomInput.innerHTML = `
                <input type="text" name="rooms[${roomCount}][number]" placeholder="Room Number" required>
                <input type="text" name="rooms[${roomCount}][type]" placeholder="Room Type" required>
                <input type="number" name="rooms[${roomCount}][price]" placeholder="Price" required>
                <input type="number" name="rooms[${roomCount}][capacity]" placeholder="nober of room available" required>
                <select name="rooms[${roomCount}][available]" required>
                    <option value="true">Available</option>
                    <option value="false">Not Available</option>
                </select>
                <button type="button" onclick="removeField(this)">-</button>
            `;
            container.appendChild(newRoomInput);
        }


        // Generic function to remove an input field
        function removeField(button) {
            const container = button.parentNode.parentNode;
            container.removeChild(button.parentNode);
        }
    </script>
</body>

</html>