<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="../..//css/management.css">
</head>
<body>
    <div class="form">
    <h1>Add User</h1>
    <form class="add" action="/admin/users/add" method="POST">
        <label for="username">Username:</label>
        <input type="text" class="input" id="username" name="username" required><br>
        <label for="email">Email:</label>
        <input type="email" class="input" id="email" name="email" required><br>
        <label for="mobile">Mobile:</label>
        <input type="text" class="input" id="mobile" name="mobile" required><br>
        <label for="password">Password:</label>
        <input type="password" class="input" id="password" name="password" required><br>
        <button class="submit" type="submit">Add User</button>
    </form>
</div>
</body>
</html>
