<configuration>
  <system.webServer>
    <!-- Define static content types -->
    <staticContent>
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".gif" mimeType="image/gif" />
    </staticContent>
    
    <!-- Enable URL rewrite for cleaner URLs and static content -->
    <rewrite>
      <rules>
        <!-- Handle static content by matching specific file extensions and stop processing -->
        <rule name="Static Content" stopProcessing="true">
          <match url=".*\.(css|js|png|jpg|gif)$" />
          <action type="None" />
        </rule>
        
        <!-- Add additional rewrite rules if needed -->
        <rule name="Rewrite all other requests to index" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
